
@media screen and (max-width: 1115px) {
    .imagenprincipal{
        width: 300px;
        height: 65px;
        
    }
    .seccion1{     
        flex-direction: row;
        width: 100%;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            
        }
    }
    .bitcoin1{
        width: 410px;
        height: 500px;
        position: relative;
       align-items: center;
       justify-content: center;
       display: flex;
    }

.segundaseccion{
    width: 100%;
    background-size: 500px;
    display: flex;
    flex-direction: row;
    height: 650px;
    .divsegundo{    
        width: 100%;
        .seccion2__titulo{
            font-size: 25px;
          
        }
        .seccion2__parrafo{
            font-size: 20px;
            
        }
    }


}

.terceraseccion{
    width: 100%;
    height: 1300px;
    gap: 5px;
    .bitcoin{
        font-size: 15px;
        width: 100%;
    }
    .terceraseccioneth{
        font-size: 15px;
        width: 100%;
    }
    .terceraseccionusdt{
        font-size: 15px;
        width: 100%;
    }
    .divtercera{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        top: 0px;
        .imagentercera{
            width: 280px;
            height: 550px;
        }
    }
    
}
.footer{
    display: flex;
    flex-direction: column;
    height: 100px;
    .footerderechos{
        display: flex;
        justify-content: flex-start;
        width: 100%;

    }
    .fotofooter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .footerfoto{
            width: 200px;
            height: 50px;
            
        }
    }
}
}
@media screen and (max-width: 930px) {
    .imagenprincipal{
        width: 250px;
        height: 65px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: row;
        width: 100%;
        .contenido1{
            width: 500px;
            display: flex;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            
        }
        .imagenbitcoin{
            width: 430px;
            height: 500px;
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 500px;
        display: flex;
        flex-direction: column;
        height: 750px;
        .divsegundo{
            width: 100%;
            margin-top: 250px;
            .seccion2__titulo{
                font-size: 25px;
              
            }
            .seccion2__parrafo{
                font-size: 20px;
                
            }
        }
    }
    .terceraseccion{
        width: 100%;
        height: 1300px;
        gap: 5px;
        .bitcoin{
            font-size: 15px;
            width: 100%;

        }
        .terceraseccioneth{
            font-size: 15px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 15px;
            width: 100%;
        }
        .divtercera{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            .imagentercera{
                width: 280px;
                height: 550px;
                position: relative;
                left: 60px;
                top: 2px; 
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 100px;
        .footerderechos{
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
        .fotofooter{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .imagenprincipal{
        width: 250px;
        height: 65px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 725px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 20px;
            height: 100%;
            margin-bottom: 350px;  
        }
        .imagenbitcoin{
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            top: 220px;
            .bitcoin1{
                width: 320px;
                height: 390px;
                 display: flex;
            }
            
        }
        
    }
    .segundaseccion{
        width: 100%;
        background-size: 500px;
        display: flex;
        flex-direction: column;
        height: 750px;
        .divsegundo{
            width: 100%;
            margin-top: 250px;
            .seccion2__titulo{
                font-size: 25px;
              
            }
            .seccion2__parrafo{
                font-size: 20px;
                
            }
        }

    }
.terceraseccion{
    width: 100%;
    height: 1300px;
    gap: 5px;
    .bitcoin{
        font-size: 15px;
        width: 100%;
    }
    .terceraseccioneth{
        font-size: 15px;
        width: 100%;
    }
    .terceraseccionusdt{
        font-size: 15px;
        width: 100%;
    }
    .divtercera{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        .imagentercera{
            width: 230px;
            height: 500px;
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    height: 100px;
    .footerderechos{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .fotofooter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .footerfoto{
            width: 220px;
            height: 50px;
            
        }
    }
}
}

@media screen and (max-width:493px) {
    .imagenprincipal{
        width: 250px;
        height: 60px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 17px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 250px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 500px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 25px;
            }
            .seccion2__parrafo{
                font-size: 20px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 15px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 15px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 15px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 50px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
}

@media screen and (max-width:486px) {
    .imagenprincipal{
        width: 250px;
        height: 60px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 17px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 250px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
               top: 11px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 500px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 25px;
            }
            .seccion2__parrafo{
                font-size: 20px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 15px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 15px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 15px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 50px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }

}

@media screen and (max-width:405px) {
    .imagenprincipal{
        width: 250px;
        height: 50px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 17px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 240px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
               top: 11px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 400px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 25px;
            }
            .seccion2__parrafo{
                font-size: 20px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 15px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 15px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 15px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 50px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
    
    

}

@media screen and (max-width:375px) {
    .imagenprincipal{
        width: 240px;
        height: 50px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 15px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 240px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
               top: 11px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 300px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 22px;
            }
            .seccion2__parrafo{
                font-size: 18px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 14px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 14px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 14px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 20px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
}
@media screen and (max-width:353px) {
    .imagenprincipal{
        width: 225px;
        height: 50px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 15px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 240px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
               top: 11px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 300px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 22px;
            }
            .seccion2__parrafo{
                font-size: 18px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 14px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 14px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 14px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 20px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
}
@media screen and (max-width:320px) {
    .imagenprincipal{
        width: 215px;
        height: 50px;
        
    }
    .seccion1{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        .contenido1{
            width: 100%;
            display: flex;
            font-size: 15px;
            align-items: center;
            justify-content: center;
            margin-bottom: 250px;
            
        }
        .imagenbitcoin{
            width: 100%;
            .bitcoin1{
                width: 240px;
                height: 280px;
               align-items: center;
               justify-content: center;
               display: flex;
               position: relative;
               left: 8px;
               top: 11px;
            }
        }
    }
    .segundaseccion{
        width: 100%;
        background-size: 300px;
        display: flex;
        flex-direction: column;
        .moneda{
            width: 100px;
            height: 100px;
            position: relative;
            left: 100px;
            top: 270px;
            }
            .seccion2__titulo{
                font-size: 22px;
            }
            .seccion2__parrafo{
                font-size: 18px;
            }
        
    
    }
    .terceraseccion{
        width: 100%;
        height: 1500px;
        .bitcoin{
            font-size: 13px;
            width: 100%;
            
        }
        .terceraseccioneth{
            font-size: 13px;
            width: 100%;
        }
        .terceraseccionusdt{
            font-size: 13px;
            width: 100%;
        }
        
    }
    .imagentercera{
        width: 230px;
        height: 500px ; 
    }
    .footer{
        display: flex;
        flex-direction: column;
        height: 170px;
        .footerderechos{
            position: relative;
            display: flex;
           
            justify-content: center;
            left: 20px;
            width: 300px;
    
        }
        .fotofooter{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footerfoto{
                width: 220px;
                height: 50px;
                
            }
        }
    }
}

@media screen and (max-width:768px) {
    
 
    .botones{
        width: 100%;
    }
    
   
}
@media screen and (max-width:350px) {
    .botones{
        width:100% ;
        .button1{
            width: 98px;
        }
        .botondos{
            width: 28px;
        }
    }
        
}

@media screen and (max-width: 815px) {
    .maincomprar{
        width: 100%;
        .divcomprar{
            width: 100%;
            .pagouno{
                width: 100%;
            }   
            
            .pagotres{
                width: 100%;
            }
          }
          .divcomprar h1{
            font-size: 25px;
         }

    }
    .segundomaininfo{
        height: 1200px;
        .segundodivmain{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 100px;
            
        }
        .cajas{
            display: flex;
            flex-direction: column;
        }
    }.segundomaininfo h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .maincomprar{
        width: 100%;
        .divcomprar{
            width: 100%;
            .titulocompraruno{
                font-size: 20px;
            }
            .pagouno{
                width: 100%;
                .botonpago{
                    width: 100%;
                    font-size: 15px;
                }
            }   
            .pagodos{
                .botonpagodos{
                    width: 248px;
                    font-size: 15px;
                }
            }
            .pagotres{
                width: 100%;
                .botonpagotres{
                    font-size: 15px;
                    width: 248px;
                }
            }
          }
          .divcomprar h1{
            font-size: 25px;
         }

    }
    .segundomaininfo{
        height: 1200px;
        .segundodivmain{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 100px;
            
        }
        .cajas{
            display: flex;
            flex-direction: column;
        }
    }.segundomaininfo h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 380px) {
    .maincomprar{
        width: 100%;
        .divcomprar{
            width: 100%;
            .titulocompraruno{
                font-size: 17px;
            }
            .pagouno{
                width: 100%;
                .botonpago{
                    width: 200px;
                    font-size: 15px;
                }
            }   
            .pagodos{
                .botonpagodos{
                    width: 200px;
                    font-size: 15px;
                }
            }
            .pagotres{
                width: 100%;
                .botonpagotres{
                    font-size: 15px;
                    width: 200px;
                }
            }
          }
          .divcomprar h1{
            font-size: 25px;
         }

    }
    .segundomaininfo{
        height: 1200px;
        .segundodivmain{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            right: 100px;
            
        }
        .cajas{
            display: flex;
            flex-direction: column;
        }
    }.segundomaininfo h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 100%;
    }
    .segundomaininfo p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
}
@media screen and (max-width: 321px) {
    .maincomprar{
        .divcomprar{
            .titulocompraruno{
                font-size: 16px;
            }
        }
    }
    .segundomaininfo{
        .segundodivmain{
            h2{
                font-size: 15px;
            }
        }
        
    }
}

@media screen and (max-width: 960px) {
    .seccioncotizacion{
        width: 100%;
        .todo{
            .filas{
             .filabtc{
                width: 800px; 
             }
            } 
         }
    }
}

@media screen and (max-width: 820px) {
    .seccioncotizacion{
        width: 100%;
        .todo{
            .filas{
             .filabtc{
                width: 600px; 

             }
            } 
         }
    }
}

@media screen and (max-width: 615px) {
    .seccioncotizacion{
        width: 100%;
        .divprincipal{
            
            h1{
                font-size: 25px; 
            }
            p{
                font-size: 15px;
            }  
        }
        .todo{
            .filas{
             .filabtc{
                width: 400px; 

             }
            } 
         }
         .todo{
            .filas{
             .filabtc{
                width: 375px; 
                .divcripto {
                    font-size: 14px;
                    position: relative;
                    right:15px;
                    
                }
                .divprecio{
                    font-size: 14px;
                    position: relative;
                    right:15px;
                }
                .divventa{
                    font-size: 14px;
                    position: relative;
                    right:15px;
                }
                .divvariacion{
                    font-size: 14px;
                    position: relative;
                    right:15px;
                }
                .divvariacionn{
                    font-size: 14px;
                    position: relative;
                    right:15px;
                }
                .comprar{
                    font-size: 14px;
                    position: relative;
                    right:15px;
                }
             }
            } 
         }
    }
    
}

@media screen and (max-width: 402px) {
    .seccioncotizacion{
        width: 100%;
        .divprincipal{
            h1{
                font-size: 23px; 
            }
            p{
                font-size: 15px;
            }  
            }
           
        }
        .columna{
            width: 100%;
            .divcripto {
                font-size: 11px;
                position: relative;
                right:15px;
                
            }
            .divprecio{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divventa{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divvariacion{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divvariacionn{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .comprar{
                font-size: 11px;
                position: relative;
                right:15px;
            }
        }
        .todo{
            .filas{
             .filabtc{
                width: 375px; 
                .divcripto {
                    font-size: 12px;
                    position: relative;
                    right:15px;
                    
                }
                .divprecio{
                    font-size: 12px;
                    position: relative;
                    right:15px;
                }
                .divventa{
                    font-size: 12px;
                    position: relative;
                    right:15px;
                }
                .divvariacion{
                    font-size: 12px;
                    position: relative;
                    right:15px;
                }
                .divvariacionn{
                    font-size: 12px;
                    position: relative;
                    right:15px;
                }
                .comprar{
                    font-size: 12px;
                    position: relative;
                    right:15px;
                }
             }
            } 
         }
         
    }

    
@media screen and (max-width: 320px) {
    .seccioncotizacion{
        width: 100%;
        .divprincipal{
            h1{
                font-size: 20px; 
                width: 319px;
            }
            p{
                font-size: 14px;
                width: 319px;
            }  
            }
           
        
        .columna{
            width: 100%;
            .divcripto {
                font-size: 11px;
                position: relative;
                right:15px;
                
            }
            .divprecio{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divventa{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divvariacion{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .divvariacionn{
                font-size: 11px;
                position: relative;
                right:15px;
            }
            .comprar{
                font-size: 11px;
                position: relative;
                right:15px;
            }
        }
        .todo{
            width: 320px;
            .filas{
                width: 320px;
             .filabtc{
                width: 320px; 
                .divcripto {
                    font-size: 10px;
                    position: relative;
                    right:15px;
                    
                }
                .divprecio{
                    font-size: 10px;
                    position: relative;
                    right:15px;
                }
                .divventa{
                    font-size: 10px;
                    position: relative;
                    right:15px;
                }
                .divvariacion{
                    font-size: 10px;
                    position: relative;
                    right:15px;
                }
                .divvariacionn{
                    font-size: 10px;
                    position: relative;
                    right:15px;
                }
                .comprar{
                    font-size: 10px;
                    position: relative;
                    right:15px;
                }
             }
            } 
         }
         
    }
}

@media screen and (max-width: 375px) {
    .fondoregis{
        .mainregistrate{
            height: 700px;
        }
    }
}